<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.education.mapper.customer.CustomerDataMaintainBasicMapper" >
  <resultMap id="BaseResultMap" type="com.yc.education.model.customer.CustomerDataMaintainBasic" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="maintain_id" property="maintainId" jdbcType="BIGINT" />
    <result column="leader_people" property="leaderPeople" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="delivery_address" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="invoice_address" property="invoiceAddress" jdbcType="VARCHAR" />
    <result column="purchase" property="purchase" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_people" property="createPeople" jdbcType="VARCHAR" />
    <result column="create_people_str" property="createPeopleStr" jdbcType="VARCHAR" />
    <result column="update_people" property="updatePeople" jdbcType="VARCHAR" />
    <result column="update_people_str" property="updatePeopleStr" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="listCustomerDataMaintainBasic" resultMap="BaseResultMap">
        SELECT * FROM customer_data_maintain_basic
        <where>
            <if test="leaderPeople!=''">
                AND leader_people  like concat(concat('%',#{leaderPeople}),'%')
            </if>
        </where>
        ORDER BY addtime desc
    </select>

    <select id="getCustomerDataMaintainBasicByMaintainId" resultMap="BaseResultMap">
        SELECT * from customer_data_maintain_basic WHERE maintain_id = #{maintainId} limit 0,1
    </select>

    <delete id="deleteCustomerDataMaintainBasicByMaintainId">
        DELETE from customer_data_maintain_basic where maintain_id = #{maintainId}
    </delete>

</mapper>