<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.education.mapper.customer.InvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.yc.education.model.customer.Invoice">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="usual" jdbcType="VARCHAR" property="usual" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>

  <select id="listInvoice" resultMap="BaseResultMap">
        SELECT * FROM invoice ORDER BY addtime desc
    </select>

  <select id="listInvoiceByCustomerId" resultMap="BaseResultMap">
        SELECT * FROM invoice WHERE customer_id = #{customerid} order by addtime desc
  </select>

  <delete id="deleteInvoiceByCustomerId">
    delete from invoice where id = #{customerid}
  </delete>

</mapper>